---
title: What color are my eyes?
---

<div class="js-prompt">
  <div>
    What color are my eyes?
  </div>

  <br>

  <div>
    <button class="js-find-out-button">
      Find Out What Color Your Eyes Are
    </button>
  </div>
</div>

<div class="js-loading-indicator u-displayNone">
  Generating eye color...
</div>

<div class="js-result u-displayNone">
  <div>
    Your eyes are <span style="color: green">hazel</span>.
  </div>

  <br>

  <button class="js-try-again">
    Try again!
  </button>
</div>
